.Cat {
  border: 0.1rem solid black;
  border-radius: 5rem;

  button {
    background-color: transparent;
    transition: transform 500ms ease;
    border: none;
  
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  
    img {
      border-radius: 5rem;
    }
  }
}
