.Cat {
  border: 0.1rem solid silver;
  border-radius: 5rem;
  transition: transform 500ms ease;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  button {
    background-color: transparent;
    border-radius: 5rem;
    border: none;
  
    img {
      border-radius: 5rem;
    }
  }
}
