.PicnicCatList {
  width: fit-content;
  margin-inline: auto;
  margin-block: 1rem;
  text-align: center;

  h2 {
    width: fit-content;
    margin-inline: auto;
    padding-bottom: 1rem;
  }

  button {
    padding: 0.5rem 0.75rem;
    background-color: black;
    border-color: white;
    border-radius: 1rem;
    color: white;
    font-size: 1.25rem;
  }

  @media (min-width: 700px) {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
}
