.Layout {
  background-color: hsl(0, 0%, 0%, 0.9);
  color: hsl(0, 0%, 90%);

  min-height: 100vh;
  padding: 1rem;

  header {
    border-bottom: 0.1rem gray solid;
    width: min(90%, 45rem);
    margin-inline: auto;
  }

  h1 {
    width: fit-content;
    margin-inline: auto;
  }
}
